*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: url('3.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}
.header{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    position: sticky;
    top: 0;
    background: rgba(1, 1, 1, 0.4);
    
}
.header h1{
    align-items: center;
    text-align: center;
    margin: 10px;
}
.header a{
    display: inline-block;
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.header a:hover{
    background: white;
    color: black;
}
.hero{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    
   
}
.hero h1{
    align-items: center;
    text-align: center;
    color: white;
    margin: 60px ;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  
}
.hero img{
    width: 80%;
    border-radius: 50%;
    border: 2px solid black;
}
.footer{
    margin: 0;
    padding: 10px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
}
.about-me{
    /* margin: 20px; */
    padding: 20px;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    margin-bottom: 20px;
}
.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* width: 100%; */
    align-items: center;
    margin: 20px;
    padding: 10px;
   color: black;
     
}
.about{
    
    width: 23.33%;
    height: 375px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
    background: rgba(221, 212, 212, 0.5);
   
    align-items: center ;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.about-me h1{
    align-items: center;
    text-align: center;
    font-size: 40px;
}

.about img{
    align-items: center;
    text-align: center;
    width:30%;
    
    /* margin: 20px; */
    
}
.about h3{
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    padding-top: 10px;
    margin: 10px;
}
.about h2{
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    margin: 10px;
}
.contact-me{
    background: rgba(0, 0, 0, 0.7);
    /* background: white; */
    color: wheat;
    margin-bottom: 20px;
    
}
.contact-me .cont{
    display: flex;
    flex-direction: row ;
    justify-content: center;
}
.contact-me h1{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
}
.contact-me .detail{
    margin: 50px;
   
}
.contact-me .detail h3{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}
.contact-me input{
    
    width: 500px;
    height: 40px;
}
.contact-me textarea{
    width: 500px;
    height: 80px;
}
.contact-me button{
    background: white;
    margin: 20px;
    padding: 15px;
    width: 150px;
    border-radius: 25px;
}
.contact-me button:hover{
    background: rgba(0, 0, 0, 0.7);
    color: white;
}